
div(class="xy-view")
    table
        tr
            td
            td
        tr 
            td
            td
    div(class="handle")
    div(class="vslider")
    div(class="hslider")
    div(class="xlabels")
        div !{xLabelMin}
        div !{xLabelMax}
    div(class="ylabels")
        div !{yLabelMax}
        div !{yLabelMin}
script. 
    window.xRange = JSON.parse("!{xRange}");
    window.yRange = JSON.parse("!{yRange}");
script(type="module" src="/controls/slider-xy.js")
