div(class="footer")
    if previous
        a(href=previous class="previous") #{previousLabel}
    if comment
        a(href='#' class="comment" id="comment-btn") #{__('commentLabel')}
    if next
        a(href=next class="next") #{nextLabel}
