doctype html
head
    include includes/head
    block head-scripts
body(style=style)
    div(class="page-container")
        div(class="lang-links")
            a(href=`/results-wip?lang=fr`) #{__("french")}
            a(href=`/results-wip?lang=en`) #{__("english")}
        div(class="results-content")
            h1 !{title}
            div(class="credits") !{credits}
            div !{textContent}
            div(class="results")
                div(class="results-menu")
                    //- label(for="select-x") Option A:
                    select(id="select-x")
                        option(value="" selected) -
                    //- label(for="select-y") Option B:
                    select(id="select-y")
                        option(value="" selected) -
                div(class="pairing-graph")
                div(id="pairing-graph-b" class="results-display")
                h2 !{resultsTitle}
                div(id="questionsA") !{questionsA}
                div(id="questionsB") !{questionsB}
            div(id="comments" class="comments")
                h2 !{commentsTitle}
                div !{commentsQ}
        include includes/nav

    script window.__legendText = JSON.parse('!{legendText}')
    script(defer type="module" src="/results.js")
