doctype html
head
    include includes/head
    block head-scripts
body(style=style)
    div(class="page-container")
        block lang
        div(class="results-content")
            h1 !{title}
            div(class="credits") !{credits}
            div !{textContent}
            div(class="results")
                div(class="results-menu hidden")
                    label(for="select-x") X-axis:
                    select(id="select-x")
                        option(value="" selected) -
                    label(for="select-y") Y-axis:
                    select(id="select-y")
                        option(value="" selected) -
                div(class="pairing-graph")
                h2 !{resultsTitle}
                div(id="questionsA") !{questionsA}
                div(id="questionsB") !{questionsB}
            div(id="comments" class="comments")
                h2 !{commentsTitle}
                div !{commentsQ}
        include includes/nav

    script window.__legendText = JSON.parse('!{legendText}')
    script(defer type="module" src="/results.js")
